<footer class="site-footer container">
  <div class="content">
    <div class="row first">
      <div class="col">
        <h2 class="text-normal">{{ site.title | escape }}</h2>
        <ul>
          <li class="list-type-none text-normal">Github User</li>
          <li class="list-type-none">
            <a class="link text-small text-decoration-none" href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>
      <div class="col text-small">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    <div class="row">
      <div class="social-wrap margin-auto">
        <a rel="me" class="social-link" target="_blank" href="https://github.com/speed-sonic/" title="{{ site.github_username | escape }}">
          <i class="fab fa-github text-pencil-sec"></i>
        </a>
        <a rel="me" class="social-link" target="_blank" href="{{ '/feed.rss' | relative_url }}" title="{{ site.title | escape }}">
          <i class="fas fa-rss text-pencil-sec"></i>
        </a>
        <a rel="me" class="social-link" target="_blank" href="mailto:{{ site.email }}" title="{{ site.email | escape }}">
          <i class="fas fa-envelope text-pencil-sec"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
