<footer class="site-footer container">
  <div class="content">
    <div class="row">
      <div class="col">
        <h2 class="text-normal">{{ site.title | escape }}</h2>
        <ul>
          <li class="list-type-none text-normal">Github User</li>
          <li class="list-type-none">
            <a class="link text-small text-decoration-none" href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>
      <div class="col text-small">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    <div class="row">
      <div class="social-wrap margin-auto">
        <a rel="me" class="social-link margin-auto" target="_blank" href="https://github.com/speed-sonic/" title="{{ site.github_username | escape }}">
          <svg class="svg-icon text-grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
        </a>
        <a rel="me" class="social-link margin-auto" target="_blank" href="{{ '/feed.rss' | relative_url }}" title="{{ site.title | escape }}">
          <svg class="svg-icon text-grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>
        </a>
      </div>
    </div>
  </div>
</footer>
