<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta name="renderer" content="webkit" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="yes" name="apple-touch-fullscreen" />
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
  {% for style in page.styles %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/' | append: style | relative_url }}" />
  {%endfor%}

  <link rel="stylesheet" href="{{ '/assets/fontawsome/all.min.css' | relative_url }}" />
  <script src="{{ '/assets/fontawsome/all.min.js' | relative_url }}"></script>
  <title>{{ site.title }}</title>

  <script src="{{ '/assets/js/jquery-3.4.1.slim.min.js' | relative_url }}"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

  <script>
    function makeRandom(min, max) {
      const range = max - min;   
      const rand = Math.random();   
      return(min + Math.round(rand * range));  
    }
  </script>
</head>
