<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta name="renderer" content="webkit" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="yes" name="apple-touch-fullscreen" />
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
  {% for style in page.styles %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/' | append: style | relative_url }}" />
  {%endfor%}
  <title>{{ site.title }}</title>
</head>
