<div class="modal-wrapper" id="modal-wrapper">
<div class="modal padding-left-1 padding-right-1" id="modal">
  <div class="modal-content bg-primary">
    <div class="modal-header text-pencil text-bold border-bottom">
      <span class="modal-title"><!-- title --></span>
      <a class="close text-pencil-sec float-right text-decoration-none text-center" href="#">&times;</a>
    </div>
    <div class="modal-body break-word">
      <!-- text -->
    </div>
    <div class="func">
      <a class="btn text-primary bg-link access" id="modal-to" target="_blank" href="#"></a>
      <a class="cancel btn text-pencil-sec" href="#">取消</a>
    </div>
  </div>
</div>

<script>
  $('.close, .cancel').click(function(e) {
    e.preventDefault();
    $('#modal-wrapper').hide();
  });

  window.modal = function(title, text, btnText, callback) {
    $('#modal-wrapper').show();
    $('#modal .modal-title').text(title);
    $('#modal .modal-body').text(text);
    $('.access').text(btnText);
    $('#modal-to').click(callback);
  };
</script>

</div>
