$sol-is-dark: false;

$sol-base03:   #002b36;  // 15 -12 -12
$sol-base02:   #073642;  // 20 -12 -12
$sol-base01:   #586e75;  // 45 -07 -07
$sol-base00:   #657b83;  // 50 -07 -07
$sol-base0:    #839496;  // 60 -06 -03
$sol-base1:    #93a1a1;  // 65 -05 -02
$sol-base2:    #eee8d5;  // 92 -00  10
$sol-base3:    #fdf6e3;  // 97  00  10
$sol-yellow:   #b58900;  // 60  10  65
$sol-orange:   #cb4b16;  // 50  50  55
$sol-red:      #dc322f;  // 50  65  45
$sol-magenta:  #d33682;  // 50  65 -05
$sol-violet:   #6c71c4;  // 50  15 -45
$sol-blue:     #268bd2;  // 55 -10 -45
$sol-cyan:     #2aa198;  // 60 -35 -05
$sol-green:    #859900;  // 60 -20  65

$sol-mono3:    $sol-base3;
$sol-mono2:    $sol-base2;
$sol-mono1:    $sol-base1;
$sol-mono00:   $sol-base00;
$sol-mono01:   $sol-base01;

@if $sol-is-dark {
  $sol-mono3:  $sol-base03;
  $sol-mono2:  $sol-base02;
  $sol-mono1:  $sol-base01;
  $sol-mono00: $sol-base0;
  $sol-mono01: $sol-base1;
}

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$text-color:            #1a1a1a !default;
$text-sec-color:        lighten($text-color, 35%) !default;
$background-color:      #fdfdfd !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;

@import
  "frame/initialize"
;
