$theme-colors: (
  "base03":   $sol-base03,
  "base02":   $sol-base02,
  "base01":   $sol-base01,
  "base00":   $sol-base00,
  "base0":    $sol-base0,
  "cyan":     $sol-cyan,
  "pencil":   $color-pencil,
  "pencil-sec": $text-sec-color,
  "primary":  $color-primary,
  "link":     $color-link,
  "link-hover": $link-hover-color,
  "grey":         $color-grey,
  "lightgrey": #8c8c8c,
  "silver": $color-silver,
  "coral": #F08080,
  "dodger": $color-dodger,
) !default;

// 字体宽度
$font-sizes: (
  "lighter": lighter,
  "light": 300,
  "normal": 400,
  "bold": 700,
  "bolder": bolder
) !default;

// Display
$_displays: (
  "block",
  "none",
  "inline",
  "inline-block",
  "flex"
);

// Positions
$_pos: (
  "-top",
  "-bottom",
  "-left",
  "-right",
  ""
);

// Proportions
$proportions: (
  0,
  25,
  50,
  75,
  100
);



@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: $value !important;
  }
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value !important;
  }
}

@each $weight, $value in $font-sizes {
  .text-#{$weight} {
    font-weight: $value !important;
  }
}

// Margin Padding
@for $a from 1 through length($_pos) {
  $var: nth($_pos, $a);
  @for $i from 1 through 5 {
    .margin#{$var}-#{$i} {
      margin#{$var}: #{$i}#{'rem'};
    }
    .padding#{$var}-#{$i} {
      padding#{$var}: #{$i}#{'rem'};
    }
  }
}

// Proportions
@for $i from 1 through length($proportions) {
  $var: nth($proportions, $i);
  .w-#{$var} {
    width: #{$var}#{'%'};
  }
  .h-#{$var} {
    height: #{$var}#{'%'};
  }
}

// Border
@for $i from 1 through length($_pos) {
  $var: nth($_pos, $i);
  .border#{$var} {
    border#{$var}: 1px solid $brand-color-light !important;
  }
}
.border-none {
  border: 0 !important;
}

// Display
@for $i from 1 through length($_displays) {
  $var: nth($_displays, $i);
  .d-#{$var} {
    display: #{$var};
  }
}

// Text
.text-small {
  font-size: .9em;
}
.text-smaller {
  font-size: .8em;
}
.text-indent-1 {
  text-indent: 1rem;
}
.text-center {
  text-align: center;
}
.text-italic {
  font-style: italic;
}
.text-title {
  font-size: 1.3rem;
  @extend .text-bold;
}

// Float
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}

// Other
a.text-decoration-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.user-select-none {
  user-select: none;
}
li.list-type-none {
  list-style-type: none;
}
.break-word {
  overflow-wrap: break-word;
}
.flex-grow {
  flex-grow: 1;
}
.margin-auto {
  margin: 0 auto;
}
.cursor-pointer {
  cursor: pointer;
}

// Components
.btn {
  @extend .text-decoration-none;
  @extend .text-center;
  @extend .user-select-none;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid $brand-color-light;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-appearance: button;
  cursor: pointer;
  margin: .25rem .1rem;
}
.image {
  max-width: 100%;
  height: auto;
}
