@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: $value !important;
  }
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value !important;
  }
}

@each $weight, $value in $font-sizes {
  .text-#{$weight} {
    font-weight: $value !important;
  }
}

$_borders: (
  "top", "left", "right", "bottom"
);

@for $i from 1 through length($_borders) {
  $var: nth($_borders, $i);
  .border-#{$var} {
    border-#{$var}: 1px solid $brand-color-light !important;
  }

  .border-darsh-#{$var} {
    border-#{$var}: 1px dashed $brand-color-light !important;
  }
}
.border {
  border: 1px solid $brand-color-light !important;
}
.border-none {
  border: 0 !important;
}
.border-brand {
  border-bottom: 1px solid $brand-color-light;
}

.list-type-none {
  list-style-type: none;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.user-select-none {
  user-select: none;
}

.d-block {
  display: block;
}

.clear {
  clear: both;
}

.text-small {
  font-size: .9em;
}
.text-smaller {
  font-size: .8em;
}

.text-indent-1 {
  text-indent: 1rem;
}

.text-center {
  text-align: center;
}

.break-word {
  overflow-wrap: break-word;
}

.margin-auto {
  margin: 0 auto;
}

.text-italic {
  font-style:italic;
}

a.text-decoration-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.text-title {
  font-size: 1.3rem;
  @extend .text-bold;
}

.btn {
  @extend .text-decoration-none;
  @extend .text-center;
  @extend .user-select-none;
  vertical-align: middle;
  // margin-top: .25rem;
  // margin-bottom: .25rem;
  display: inline-block;
  border: 1px solid $brand-color-light;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-appearance: button;
  cursor: pointer;
  margin: .25rem .1rem;
}

.flex-grow {
  flex-grow: 1;
}