* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 15px;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-size: 16px;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
  overflow-wrap: break-word;
  line-height: 1.7;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  .container {
    clear: both;
    .content {
      max-width: 800px;
      margin: 0 auto;
      padding-left: 1em;
      padding-right: 1em;

      .padding-page {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  a {
    &.link {
      color: $link-base-color;
      &:visited {
        color: $color-link;
      }
      &:hover {
        color: $link-hover-color
      }
    }
  }
}

