footer.site-footer {
  border-top: 1px solid $brand-color-light;
  padding: 30px 0;

  .svg-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }

  .row {
    clear: both;
    width: 100%;
    margin-bottom: 1rem;
    .col {
      float: left;
      width: 50%;
      height: auto;
      color: #828282;
      @include media-query($on-medium) {
        width: 100%;
      }
    }
    h2 {
      font-size: 1.125rem;
    }

    .social-link {
      display: inline-block;
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid #e8e8e8;
    }

    .social-wrap {
      text-align: center;
    }
  }
}
