@charset "utf-8";

$sol-base03:   #002b36;  // 15 -12 -12
$sol-base02:   #073642;  // 20 -12 -12
$sol-base01:   #586e75;  // 45 -07 -07
$sol-base00:   #657b83;  // 50 -07 -07
$sol-base0:    #839496;  // 60 -06 -03
$sol-red:      #dc322f;  // 50  65  45
$sol-cyan:     #2aa198;  // 60 -35 -05
$color-pencil:       #1a1a1a;
$color-primary:      #fdfdfd;
$color-link:         #2a7ae2;
$color-grey:   #828282;
$color-silver:  #C0C0C0;
$color-dodger: #1E90FF;

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$text-color:            $color-pencil !default;
$text-sec-color:        lighten($text-color, 35%) !default;
$background-color:      $color-primary !default;

$link-base-color:       $color-link !default;
$link-hover-color:    darken($link-base-color, 15%) !default;

// Define defaults for each variable.

@font-face {
  font-family: 'Georgia';
  src: url('../font/Georgia.ttf');
}

$base-font-family: Helvetica,Georgia,Arial,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","华文细黑","Source Han Sans CN","Noto Sans SC","WenQuanYi Micro Hei",SimSun,sans-serif;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 600 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$on-medium:        600px !default;
$on-large:         800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
  "_root",
  "base",
  "header",
  "highlights/current",
  "public",
  "post",
  "home",
  "modal",
  "me",
  "footer"
;
