@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 600 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$on-medium:        600px !default;
$on-large:         800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Code formatting
 */
 pre,
 code {
   font-family: $code-font-family;
   font-size: 0.9375em;
   border: 1px solid $brand-color-light;
   border-radius: 3px;
 }
 
 code {
   padding: 1px 5px;
 }
 
 pre {
   padding: 8px 12px;
   overflow-x: auto;
 
   > code {
     border: 0;
     padding-right: 0;
     padding-left: 0;
   }
 }

@import
  "_root",
  "base",
  "header",
  "highlights/current",
  "public",
  "post",
  "footer"
;
