.cover {
    height: 150px;
    background-color: rgb(68, 68, 68);
    background: url('../image/mime/cover.jpeg') no-repeat;
    background-size: 100% auto;
    @include media-query($on-medium) {
      height: 200px;
    }
}
.me {
  .live {
    margin-top: -20px;
    width: 160px;
    height: 160px;
    border: 4px solid white;
    border-radius: 4px;
    @include media-query($on-medium) {
      display: block;
      margin: 0 auto;
      margin-top: -150px;
      border-radius: 50%;
    }
  }

  .me-content {
    display: flex;
    .header {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      .sec {
        font-size: 1rem;
        padding-left: 1rem;
      }
      p, .sec {
        @include media-query($on-medium) {
          display: inline-block;
          width: 100%;
          text-align: center;
          margin: -15px 0;
          padding: 0;
        }
      }
    }

    @include media-query($on-medium) {
      display: block;
    }
  }

  .info-box {
    padding: 1rem;
    span {
      display: inline-block;
    }
    li {
      padding: 5px 0;
    }
  }
  .info-box .key {
    width: 20%;
  }

  .message {
    word-wrap: break-word;
    background-color: #FAFAD2;
    padding: 2rem 1rem;
    border-radius: 5px;
  }
}
