.modal {
  max-width: 500px;
  margin: 2.75rem auto;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;

  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-clip: padding-box;
    border-radius: .5rem;
    outline: 0;
  }

  .modal-header, .close {
    height: 3rem;
    line-height: 3rem;
  }

  .modal-header {
    padding: 0 1rem;
  }

  .modal-body {
    min-height: 2rem;
    line-height: 2rem;
    padding: 1rem;
  }

  .func {
    text-align: right;
    padding: .5rem 1rem;
  }
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  height: 100%;
  overflow: hidden;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity .15s linear;
  background-color: rgba(0,0,0,.4);
}
.modal-header, .modal-body, .func, .modal-wrapper, .modal-content, .modal {
  @extend .w-100;
}