.page-header {
  .page-title {
    font-size: 2rem;
  }
  small {
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 1rem;
  }
  .rss-button {
    @extend .user-select-none;
    font-size: .8rem;
    padding: .5rem;
    border-radius: 5px;
    @include media-query($on-medium) {
      float: left;
      margin-left: 1rem;
    }
  }
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.tag-buttons {
  .item {
    padding: 5px;
    border: 1px solid #268bd2;
    margin: .3rem;
    border-radius: 3px;

    &:hover {
      background: #268bd2;
      color: white;
    }
  }
}

.tag-item {
  .header, .hash {
    font-size: 1rem;
  }
  .hash:hover {
    text-decoration: underline;
  }
  .time {
    @include media-query($on-medium) {
      display: block;
    }
  }
}

.post-list, .notices-board .notices {
  padding: 1rem 0;
}

.post-list {
  &:not(:last-child) {
    @extend .border-bottom;
  }

  .post-meta {
    font-size: 14px;
  }
}

.notices-board {
  .notices {
    &:not(:last-child) {
      @extend .border-bottom;
    }
    .info {
      flex-direction: column;
    }
    .title {
      font-size: 1.2rem;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .row {
      @include media-query($on-medium) {
        display: block;
      }
      .col {
        color: #6b6b6b;
        &.left {
          @include media-query($on-medium) {
            display: block;
            width: auto;
            max-width: 60%;
          }
        }
      }
    }
  }
}
