.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .page-title {
    font-size: 2rem;
  }
  small {
    position: relative;
    display: inline-block;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    padding-left: 1rem;
  }
  .rss-button {
    @extend .user-select-none;
    font-size: .8rem;
    padding: .5rem;
    border-radius: 5px;
    @include media-query($on-medium) {
      float: left;
      margin-left: 1rem;
    }
  }
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.tag-buttons {
  .item {
    padding: 5px;
    border: 1px solid #268bd2;
    margin: .3rem;
    border-radius: 3px;

    &:hover {
      background: #268bd2;
      color: white;
    }
  }
}

.tag-item {
  .item-content {
    padding-left: 1rem;
  }
  .header {
    font-size: 1rem;
  }
  .hash {
    font-size: 1.7rem;
    &:hover {
      text-decoration: underline;
    }
  }
  article {
    time.time {
      margin-right: 2rem;
      @include media-query($on-medium) {
        display: block;
      }
    }
  }
}

.post-list, .notices-board .notices {
  padding: 1rem 0;
}

.post-list {
  &:not(:last-child) {
    @extend .border-bottom;
  }

  .post-meta {
    font-size: 14px;
  }
}

.notices-board {
  .notices {
    &:not(:last-child) {
      @extend .border-bottom;
    }
    .info {
      flex-direction: column;
    }
    .title {
      font-size: 1.2rem;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .row {
      display: flex;
      @include media-query($on-medium) {
        display: block;
      }
      .col {
        display: flex;
        color: #6b6b6b;
        &.left {
          width: 20%;
          margin-right: 1rem;
          @include media-query($on-medium) {
            display: block;
            width: auto;
            max-width: 60%;
          }
        }
      }
    }
  }
}

.friends {
  .friend {
    margin: 2.5%;
    width: 20%;
    padding: .5rem;
    border-radius: 8px;
    border: 3px solid #EEE;
    .friend-header {
      position: relative;
      overflow: hidden;
      padding-bottom: 100%;
      img {
        position: absolute;
      }
    }
    h2 {
      margin-bottom: 0;
    }
    @include media-query($on-medium) {
      width: 40%;
      &:nth-child(even) {
        margin-left: 10%;
      }
      margin-right: 0;
      .image {
        width: 100%;
      }
    }
  }
}