.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .page-title {
    font-size: 2rem;
  }
  small {
    position: relative;
    display: inline-block;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    padding-left: 1rem;
  }
  .rss-button {
    display: block;
    float: right;
    font-size: .7rem;
    padding: .5rem;
    border-radius: 5px;
    @include media-query($on-medium) {
      float: left;
      margin-left: 1rem;
    }
  }
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.tag-buttons {
  .item {
    padding: 5px;
    border: 1px solid #268bd2;
    margin: .3rem;
    border-radius: 3px;

    &:hover {
      background: #268bd2;
      color: white;
    }
  }
}

.tag-item {
  .item-content {
    padding-left: 1rem;
  }
  .header {
    font-size: 1rem;
  }
  .hash {
    font-size: 1.7rem;
    &:hover {
      text-decoration: underline;
    }
  }
  article {
    time.time {
      display: inline-block;
      margin-right: 2rem;
      @include media-query($on-medium) {
        display: block;
      }
    }
  }
}

.post-list, .news-board .news {
  padding: 1rem 0;
}

.post-list {
  &:not(:last-child) {
    @extend .border-bottom;
  }

  .post-meta {
    font-size: 14px;
  }
}

.news-board {
  .news {
    &:not(:last-child) {
      @extend .border-bottom;
    }
    .title {
      font-size: 1.2rem;
    }
    img {
      max-width: 100%;
    }
    .row {
      display: flex;
      @include media-query($on-medium) {
        display: block;
      }
      .col {
        height: auto;
        color: #6b6b6b;
        &.left {
          flex: none;
          width: 20%;
          margin-right: 1rem;
          @include media-query($on-medium) {
            width: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}