<header component="header" class="container border-bottom site-header w-100 float-left">
  <nav class="content user-select-none">
    <a
      class="title text-decoration-none float-left"
      rel="author"
      href="{{ "/" | relative_url }}"
    >
      {{ site.title | escape }}
    </a>

    {%- assign tag = "articles" -%}
    {%- if page.tag -%}
    {%- assign tag = page.tag -%}
    {%- endif -%}
    {% include components/header/Trigger.html tag=tag navlinks=site.navlinks %}
  </nav>
</header>
