<li class="list-type-none post-list">
  {%- assign post = include.post -%}
  <span class="post-meta text-pencil-sec">{{ post.date | date: date_format }}</span>
  <h3>
    <a class="text-decoration-none link-dark" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  <!-- 摘要 -->
  {%- if site.show_excerpts -%}
  <span class="text-pencil-sec text-small">
    {{ post.excerpt }}
  </span>
  {%- endif -%}
  <div class="text-smaller">
    {%- include /public/post-tags.html source="categories" icon="paperclip" color="silver" -%}
    <a class="link float-right" href="{{ post.url | relative_url }}">进入文章</a>
    {%- include /public/post-tags.html source="tags" icon="tag" color="coral" -%}
  </div>
</li>
