<div class="tag-item">
  {% capture name %}{{ include.tag | first }}{% endcapture %}
  <div id="{{ name | slugize }}"></div>
  <p></p>

  <h3 class="header text-bold" id="{{ name }}">
    <a class="hash text-pencil-sec text-decoration-none" href="#{{ name | slugize }}">
      <i class="fas fa-hashtag text-link"></i> {{ name | slugize }}
    </a>
  </h3>
  {%- assign date_format = "%Y-%m-%d %H:%m" -%}
  {% for post in data[name] %}
  <article>
    <h4 class="text-normal break-word">
      <div class="padding-left-1">
        <time class="text-small text-pencil-sec time margin-right-2" datetime="{{ mdate }}" itemprop="dateModified">
          {{ post.date | date: date_format }}
        </time>
        <a class="link-dark text-decoration-none" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
      </div>
    </h4>
  </article>
  {% endfor %}
</div>
