---
layout: page
---
<article class="article-post padding-page">
  <div class="post-header padding-bottom-1">
    <h1 class="title">{{ page.title }}</h1>
    <div class="post-info text-lightgrey text-small padding-bottom-1">
      <span class="text-bold">创作于</span>
      {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
    </div>
    <span class="" style="font-size:.9rem;">
      {%- include /public/post-tags.html source="tags" icon="tag" color="silver" -%}
    </span>
  </div>
  {{ content }}
</article>

<script>
  $(function() {
    function makeWrapper(id) {
      var hashtag = '<a href="#'+ id +'" class="text-link text-decoration-none">\
      <i class="fas fa-hashtag" style="margin-right:.3em;"></i>\
      </a>';
      return hashtag;
    }
    $('.article-post :header').not('.title').each(function() {
      var text = $(this).text();
      var hashtag = makeWrapper($(this).prop('id'));
      $(this).html(hashtag + text);
    });
  });
</script>
