---
layout: default
---
<div class="articles">
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2>{{ page.list_title }}</h2>
    {%- endif -%}
    <ul>
      {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
      {%- for post in posts -%}
      <li>
        <span>{{ post.date | date: date_format }}</span>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <!-- 摘要 -->
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div>
      <ul>
        <!-- 前一页 -->
        {%- if paginator.previous_page %}
        <li>
          <a href="{{ paginator.previous_page_path | relative_url }}">
            {{ paginator.previous_page }}
          </a>
        </li>
        {%- else %}
        <li>
          <div>•</div>
        </li>
        {%- endif %}
        <!-- 当前页 -->
        <li>
          <div>{{ paginator.page }}</div>
        </li>
        <!-- 后一页 -->
        {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}">{{ paginator.next_page }}</a></li>
        {%- else %}
        <li>
          <div>•</div>
        </li>
        {%- endif %}
      </ul>
    </div>
    {%- endif %}
  {%- endif -%}
</div>