---
layout: page
title: 文章
styles: [articles.css]
tag: articles
---
<div class="padding-page">
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- include public/page-header.html icon="feather" color="base02" -%}
    <ul class="padding-page">
      {%- assign date_format = "%Y-%m-%d" -%}
      {%- for post in posts -%}
        {%- include /public/article-card.html post=post -%}
      {%- endfor -%}
    </ul>

    <!-- 分页器 -->
    {% if site.paginate and paginator.total_pages > 1 %}
    <div>
      <ul class="pagination">
        <!-- 前一页 -->
        {%- if paginator.previous_page %}
        <li class="list-type-none float-left pagination-list">
          <a class="text-decoration-none link" href="{{ paginator.previous_page_path | relative_url }}">
            上一页
          </a>
        </li>
        {%- endif %}
        <!-- 当前页 -->
        <li class="list-type-none  float-left pagination-list">
          <div>{{ paginator.page }}</div>
        </li>
        <!-- 后一页 -->
        {%- if paginator.next_page %}
        <li class="list-type-none  float-left pagination-list">
          <a class="text-decoration-none link" href="{{ paginator.next_page_path | relative_url }}">
            下一页
          </a>
        </li>
        {%- endif %}
        <li class="list-type-none float-left pagination-list border-none text-pencil-sec">
          <div>{{ paginator.page }}/{{ paginator.total_pages }}</div>
        </li>
      </ul>
    </div>
    {%- endif %}
  {%- endif -%}
</div>
